{% extends '_base.html' %}
{% load static %}

{% block title %}
All Posts
{% endblock %}

{% block content %}
{% include 'components/navbar.html' with all_posts='-active' %}

<div class="mt-6 md:mt-10 xl:px-24 flex flex-col space-y-5">
    {% if search_str %}
    <h1 class="text-2xl font-extrabold">Search results for "{{search_str}}" ({{posts_count}} results)</h1>
    {% elif tag %}
    <h1 class="text-2xl font-extrabold">Posts tagged with "{{ tag }}" ({{posts_count}} results)</h1>
    {% else %}
    <h1 class="text-2xl font-extrabold text-center md:hidden">All posts</h1>
    {% endif %}
    {% for post in page_object %}
    {% include 'components/post_card.html' %}
    {% endfor %}
    {% if posts_count > 8 %}
    {% include 'components/pagination.html' %}
    {% endif %}
</div>
{% endblock %}