@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap");

.menu-transition {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(-10px);
  opacity: 0;
}
.menu-open {
  opacity: 1;
  transform: translateY(0);
}

.carousel {
  transition: transform 0.5s ease-in-out;
}
.indicator-active {
  background-color: #0c1844;
}

.blur-bg {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.formset-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.message-enter {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}
.message-enter-active {
  opacity: 1;
  transform: translateY(0);
}
.message-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}
.message-exit-active {
  opacity: 0;
  transform: translateY(-10px);
}

@layer components {
  #messageContainer {
    @apply fixed top-16 left-1/2 transform -translate-x-1/2 w-96;
  }
  .message-body {
    @apply px-3 py-2.5 md:p-4 rounded shadow-lg mb-2 border-t-4 flex flex-row items-center font-medium;
  }
  .message-close-btn {
    @apply ms-auto py-1.5 px-3 rounded-lg;
  }

  .message-info {
    @apply bg-blue-50 text-blue-900 border-t-blue-900;
  }
  .message-info .message-close-btn {
    @apply text-blue-900 hover:bg-blue-500;
  }
  .message-success {
    @apply bg-lime-100 text-lime-600 border-lime-600;
  }
  .message-success .message-close-btn {
    @apply text-lime-600 hover:bg-lime-500;
  }
  .message-warning {
    @apply bg-orange-100 text-orange-500 border-orange-500;
  }
  .message-warning .message-close-btn {
    @apply text-orange-500 hover:bg-orange-300;
  }
  .message-danger {
    @apply bg-red-100 text-red-600 border-red-600;
  }
  .message-danger .message-close-btn {
    @apply text-red-600 hover:bg-red-300;
  }

  .nav-toggle-btn {
    @apply inline-flex items-center mr-1 p-2 w-10 h-10 justify-center text-sm text-quaternary rounded-lg md:hidden hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-quaternary;
  }

  .nav-menu {
    @apply hidden w-full md:block md:w-auto;
  }

  .nav-item {
    @apply py-2 px-10 md:px-3 text-center md:text-start font-semibold rounded-md text-quaternary hover:text-primary active:text-primary 
    hover:bg-secondary active:bg-secondary transition-colors duration-500 md:drop-shadow-md;
  }

  .nav-item-active {
    @apply py-2 px-10 md:px-3 text-center md:text-start font-semibold rounded-md 
    text-primary bg-secondary transition-colors duration-500 md:drop-shadow-md;
  }

  .navbar-dropdown {
    @apply absolute right-3 sm:right-4 top-14 mt-2 w-11/12 min-[550px]:w-9/12 min-[550px]:left-auto sm:w-2/6 
    rounded-lg bg-white shadow-lg;
  }

  /* Carousel classes */

  .carousel-slide {
    @apply min-w-full flex flex-col md:flex-row bg-secondary/85 overflow-hidden shadow-md;
  }

  .form-control {
    @apply flex flex-col space-y-1 w-full;
  }

  .form-control label {
    @apply font-semibold;
  }

  .form-control input,
  .form-control textarea {
    @apply bg-primary border border-quaternary rounded-md focus:border focus:outline-quaternary focus:bg-white text-sm;
  }

  .form-control input,
  .form-control textarea {
    @apply py-1.5 px-1;
  }

  .errors input,
  .errors textarea {
    @apply border-red-700;
  }

  .errorlist {
    @apply text-sm text-red-700 font-medium;
  }

  .help-text {
    @apply text-xs mt-1;
  }
  .submit-btn {
    @apply py-1.5 font-bold border-2 border-quaternary rounded-md text-quaternary hover:bg-secondary hover:text-primary
    transition-colors duration-500 md:drop-shadow-md active:drop-shadow-xl;
  }

  /* Post Form CSS classes */
  .create-post-form-container {
    @apply text-quaternary flex flex-col xl:flex-row xl:space-x-3 items-center xl:items-start px-1.5 sm:px-0;
  }

  .modal {
    transition: opacity 0.3s ease-in-out;
  }
  .modal-open {
    opacity: 1;
  }
  .modal-close {
    opacity: 0;
  }

  .create-post-form-container {
    form {
      @apply flex flex-col space-y-3;
    }

    .form-control,
    .tag-input-container {
      @apply flex flex-col space-y-1;
    }
    .form-control label {
      @apply font-semibold;
    }

    .form-control input,
    .form-control textarea,
    #tag-search {
      @apply bg-primary border border-quaternary rounded-md focus:border focus:outline-quaternary text-sm;
    }

    .form-control input {
      @apply py-1.5 ps-1;
    }

    .form-control a {
      @apply truncate;
    }

    textarea {
      @apply px-2 py-1.5;
    }

    #tag-search {
      @apply py-1.5 px-2;
    }

    #tag-suggestions {
      @apply rounded-md border border-secondary p-2 mt-1 bg-primary shadow-sm;
    }

    .tag-suggestion {
      @apply cursor-pointer;
    }

    #selected-tags {
      @apply mt-1 flex flex-row space-x-2;
    }

    .tag {
      @apply py-1 px-2 rounded-lg bg-secondary text-primary text-sm sm:text-base;
    }

    .remove-tag {
      @apply cursor-pointer font-extrabold px-1;
    }

    #upload-image,
    .markdown-btn {
      @apply py-1.5 px-2 border-2 rounded-md border-quaternary bg-quaternary text-secondary text-sm font-semibold;
    }

    .errors input,
    .errors textarea {
      @apply border-red-700;
    }

    .errorlist {
      @apply text-sm text-red-700 font-medium;
    }

    .help-text {
      @apply text-xs mt-1;
    }
  }

  input[type="file"],
  #upload-image {
    @apply file:sm:py-1.5 file:sm:px-2 file:border-2 file:rounded-md file:border-quaternary file:bg-quaternary file:text-secondary file:text-sm file:font-semibold;
  }

  /* All posts card */

  /* Post details page */
  .post-tag-container {
    @apply flex flex-row mt-3 space-x-2;
  }
  .post-tag-container .tag {
    @apply cursor-pointer rounded-full px-4 py-0.5 font-medium text-quaternary bg-secondary/35 hover:bg-secondary/45;
  }
  .post-edit-btn {
    @apply text-center border md:border-2 rounded-md border-quaternary text-quaternary text-sm font-medium px-3 md:px-4 py-1.5 hover:text-primary hover:bg-quaternary transition-colors duration-500;
  }
  .post-delete-btn {
    @apply text-center border md:border-2 rounded-md border-tertiary text-tertiary text-sm font-medium px-1.5 md:px-5 py-1.5 hover:text-primary hover:bg-tertiary transition-colors duration-500;
  }

  /* pagination */

  .pagination {
    @apply flex items-center -space-x-px h-8 text-sm drop-shadow-sm;
  }

  .page-link {
    @apply flex items-center justify-center px-3 h-8 ms-0 leading-tight text-primary bg-secondary border border-secondary
    hover:bg-primary hover:text-quaternary;
  }

  .page-link-active {
    @apply flex items-center justify-center px-3 h-8 ms-0 leading-tight text-quaternary bg-white border border-secondary;
  }
  .page-link-disabled {
    @apply flex items-center justify-center px-3 h-8 ms-0 leading-tight text-primary bg-secondary/50 border border-secondary;
  }
}
