@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --bg-color: #ffffe0;
  --primary-color: #00ad95;
  --input-bg-color: #bbe9e97e;
  --header-height: 68px;
  --footer-height: 16px;
}
html,
body {
  background-color: var(--bg-color) !important;
  height: 100%;
}
main {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  background-color: var(--bg-color);
}
.messages {
  position: fixed;
  top: 20px;
  z-index: 99999 !important;
}

.messages .alert {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0 !important;
}
.messages .alert-success {
  background-color: green;
  color: white;
}
.messages .alert-danger {
  background-color: rgb(209, 12, 12);
  color: white;
}
.messages .alert-info {
  background-color: rgb(11, 122, 167);
  color: white;
}

.alert-dismissible .btn-close:active,
.alert-dismissible .btn-close:focus {
  outline: none !important;
  border: none !important;
}
.profile-picture {
  vertical-align: middle;
  border-radius: 50%;
}
.navbar {
  height: var(--header-height);
  background-color: var(--bg-color) !important;
}
.web-brand {
  font-family: "Edu VIC WA NT Beginner", cursive;
  text-decoration: none;
  font-size: x-large;
  color: black;
}

.navbar-link {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 0.2rem 0.7rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 25px;
  color: inherit;
  transition: background-color 0.2s linear, color 0.2s;
}
.navbar-link:hover,
.navbar-link:active,
.navbar-link.active {
  background-color: var(--primary-color);
  color: white;
}

.navbar-img {
  border: none;
  cursor: pointer;
}
.dropdown-menu {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.search-bar.nav {
  width: 360px;
}
.search-bar {
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  margin-left: 12px;
  margin-right: 12px;
  height: 2rem;
}
.search-bar input {
  margin-right: 0;
  border: none;
  outline: 2px;
  outline-style: hidden;
  outline-color: var(--primary-color);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-left: 14px;
  background-color: transparent;
  height: 100%;
}
.search-bar input:focus {
  outline-style: solid;
  background-color: var(--input-bg-color);
}
.search-bar i {
  margin-right: 9px;
  margin-top: 1px;
}
.search-bar button {
  margin-left: 0;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: none;
  border-left: 1px solid var(--primary-color);
  height: 100%;
  padding-left: 9px;
}
.search-bar button:hover {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
}

.search-collapse-btn {
  background-color: var(--primary-color);
  padding: 0.2rem 1.1rem;
  border-radius: 40px;
  border: 2px solid var(--primary-color);
  outline: none;
  color: white;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.head-text {
  font-weight: 700;
}
.welcome-head-text {
  color: #00ad95;
  font-weight: 700;
  font-size: 50px;
}
.welcome-message {
  font-size: 20px;
  font-weight: 500;
}

.view-all-link a {
  text-decoration: none;
  color: aliceblue;
  border: 1px solid #00ad95;
  background-color: #00ad95;
  border-radius: 15px;
  margin: 8px;
  padding: 4px 0;
  width: 500px;
  font-weight: 400;
}
.view-all-link a:hover {
  color: rgb(0, 0, 0);
  background-color: #00ad9683;
}
.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}

.bold-600 {
  font-weight: 600;
}
@media only screen and (max-width: 500px) {
  .messages .alert {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
    font-size: 14px;
  }
  .alert-dismissible .btn-close {
    padding: 1rem 1rem !important;
  }
  .head-text {
    font-weight: 600;
  }
  .welcome-head-text {
    font-weight: 600;
    font-size: 45px;
  }
  .welcome-message {
    font-size: 15px;
    font-weight: 490;
  }
}
.mlr-0\.5 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
@media only screen and (min-width: 768px) {
  .mlr-md-1\.5 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  .mlr-md-2 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .mlr-lg-3\.5 {
    margin-right: 3.5rem !important;
    margin-left: 3.5rem !important;
  }
  .mlr-lg-4 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  .mlr-xl-7 {
    margin-right: 7rem !important;
    margin-left: 7rem !important;
  }
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
}
footer a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
@media (min-height: 100%) {
  footer {
    position: static;
  }
}
