{% extends '_base.html' %}
{% load static %}

{% block title %}
Create Post
{% endblock %}

{% block content %}
{% include 'components/shared/navbar.html' with create_post='-active' search_bar_visibility='hidden' %}
<div class="create-post-form-container">
    <div class="hidden xl:flex flex-col w-5/12 border-0 rounded-md bg-white shadow-md">
        <h3>Markdown help</h3>
    </div>
    <div class="flex flex-col w-full sm:w-10/12 md:w-9/12 lg:w-8/12 xl:w-7/12 border-0 rounded-md bg-white shadow-md p-4">
        <h1 class="block md:hidden text-xl font-extrabold">Create Post</h1>
        <hr class="block md:hidden">
        <form method="post" action="{% url 'create_post' %}" enctype="multipart/form-data" id="post-form">
            {% csrf_token %}
            <div class="form-control">
                <label>{{ form.cover_image.label }}</label>
                {{ form.cover_image }}
            </div>
            <div class="form-control">
                <label for="">{{ form.title.label }}</label>
                {{ form.title }}
            </div>
            <div class="tag-input-container">
                <label for="tags" class="font-semibold">Tags:</label>
                <input type="text" id="tag-search" placeholder="Search or add tags">
                <div id="tag-suggestions" class="hidden"></div>
                <div id="selected-tags"></div>
                <input type="hidden" name="tags" id="tags">
            </div>
            <div class="form-control">
                <label for="">{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            <div class="flex space-x-2">
                <button class="upload-btn" type="button" id="upload-image">Upload Image</button>
                <button class="markdown-btn" type="button" id="openModal">Markdown Syntax</button>
                <!-- <button class="post-delete-btn" id="deleteButton" type="button">Delete</button> -->
            </div>
            <input type="hidden" name="image_url" id="image_url">
            <div class="form-control">
                <label for="">{{ form.content.label }}</label>
                {{ form.content }}
            </div>
            <button type="submit" class="submit-btn">Publish Post</button>
        </form>
    </div>
</div>

<div id="modal" class="fixed inset-0 hidden items-center justify-center bg-black bg-opacity-50 z-50 modal modal-close">
    <div class="bg-white rounded-lg overflow-hidden shadow-lg transform transition-all w-11/12 sm:max-w-lg sm:w-full">
        <div class="p-6">
            <div class="flex justify-center">
                <h2 class="text-2xl font-bold">Modal Header</h2>
                <button id="closeModal" class="text-tertiary font-extrabold ms-auto">X</button>
            </div>
            <hr>
            <table class="min-w-full leading-normal">
                <tbody>
                    <tr>
                        <td># Header</td>
                        <td>H1 Header</td>
                    </tr>
                    <tr>
                        <td>*italics* or _italics_</td>
                        <td><em>italics</em></td>
                    </tr>
                    <tr>
                        <td>**bold**</td>
                        <td><strong>bold</strong></td>
                    </tr>
                    <tr>
                        <td>[Link](https://...)</td>
                        <td><a href="#" class="text-blue-500">Link</a></td>
                    </tr>
                    <tr>
                        <td>* item 1</td>
                        <td>&bull; item 1</td>
                    </tr>
                    <tr>
                        <td>* item 2</td>
                        <td>&bull; item 2</td>
                    </tr>
                    <tr>
                        <td>1. item 1</td>
                        <td>item 1</td>
                    </tr>
                    <tr>
                        <td>2. item 2</td>
                        <td>item 2</td>
                    </tr>
                    <tr>
                        <td>&gt; quoted text</td>
                        <td>quoted text</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- modal -->
<!-- <div id="modal" class="fixed inset-0 hidden h-screen bg-opacity-50 z-50 modal opacity-0 transition-opacity duration-300 ease-in-out">
    <div class="bg-white rounded-lg overflow-hidden shadow-lg transform transition-all sm:max-w-xl sm:w-full">
        <div class="p-6">
            <div class="text-right">
                <button id="closeModal" class="text-red-500">X</button>
            </div>
            <h2 class="text-2xl font-bold mb-4">Commonly used syntax</h2>
            <table class="min-w-full leading-normal">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <td># Heading level 1</td>
                        <td class="text-4xl font-bold">Heading level 1</td>
                    </tr>
                    <tr>
                        <td>###### Heading level 6</td>
                        <td class="text-md font-bold">Heading level 6</td>
                    </tr>
                    <tr>
                        <td>*italics* or _italics_</td>
                        <td><em>italics</em></td>
                    </tr>
                    <tr>
                        <td>**bold**</td>
                        <td><strong>bold</strong></td>
                    </tr>
                    <tr>
                        <td>[Link](https://...)</td>
                        <td><a href="#" class="text-blue-500">Link</a></td>
                    </tr>
                    <tr>
                        <td>* item 1</td>
                        <td>&bull; item 1</td>
                    </tr>
                    <tr>
                        <td>* item 2</td>
                        <td>&bull; item 2</td>
                    </tr>
                    <tr>
                        <td>1. item 1</td>
                        <td>item 1</td>
                    </tr>
                    <tr>
                        <td>2. item 2</td>
                        <td>item 2</td>
                    </tr>
                    <tr>
                        <td>&gt; quoted text</td>
                        <td>
                            <blockquote>quoted text</blockquote>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

{% endblock %}

{% block js %}
<script src="{% static 'js/create-post.js' %}"></script>
{% endblock %}