{% extends '_base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/posts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/shared/navbar.html' %}
<div class="">
    <section class="flex flex-col">
        <h1 class="text-center max-[381px]:flex max-[381px]:flex-col">
            <span class="text-secondary font-bold text-2xl sm:text-3xl md:text-4xl lg:text-6xl mr-2">Welcome to</span>
            <span class="text-tertiary font-edu font-extrabold text-3xl sm:text-4xl md:text-5xl lg:text-7xl">SpaceTech Odyssey</span>
        </h1>
        <p class="text-center text-sm sm:text-base lg:text-lg text-quaternary font-semibold sm:mx-5 md:mx-10 lg:mx-16 mt-5">Journey through the cosmos of space technology, featuring articles
            on
            space exploration,
            satellite
            technology, and astronomy.</p>
    </section>
    {% include 'components/carousel.html' %}

</div>

{% endblock %}