{% extends '_base.html' %}
{% load static %}

{% block title %}
Post
{% endblock %}

{% block css %}
<link href="{% static 'css/posts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/shared/navbar.html' with position='sticky-top' %}
<div class="mlr-0.5 mlr-md-2 mlr-lg-3.5 mlr-xl-7 mb-4">
    <div class="d-flex flex-column flex-sm-row">
        <a href="{% url 'profile' post.user.id %}" class="d-flex post-link">

            <img class="me-2" src="{% static 'images/profile.png' %}" alt="profile-image" height="51px" width="51px" />
            <div class="d-flex flex-column">
                <p class="mb-0 text-16 bold-600">{{post.user.get_full_name}}</p>
                <p class="mb-0 text-14">{{post.date_created|date:"M d, Y"}}</p>
            </div>
        </a>
        {% if post.user.id == request.user.id %}
        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
            <a href="{% url 'update-post' post.slug %}" class="btn-edit">Edit</a>
            <button type="button" class="btn-delete-outline" data-bs-toggle="modal" data-bs-target="#deletePostModal">
                Delete
            </button>
        </div>
        {% endif %}
        <div class="d-flex flex-column ms-sm-auto justify-content-sm-end">
            <p class="mb-0 mt-1 mt-sm-0 text-14">Last Updated: {{post.date_updated|date:"M d, Y"}}</p>
        </div>
    </div>
    <hr class="mt-1">
    <h1 class="mt-1">{{post.title}}</h1>
    <p class="mt-4">{{post.content}}</p>
    <div class="d-flex mt-3">
        <h6 class="me-2">Tags:</h6>
        {% for tag in post.tags.all %}
        <a href="{% url 'tag' tag.slug %}" class="post-tag me-2">{{tag}}</a>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="deletePostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="deletePostModalLabel">Delete post</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Are you sure?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a href="{% url 'delete-post' post.slug %}" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}