{% extends '_base.html' %}
{% load static %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}
{% include 'components/shared/navbar.html' with search_bar_visibility='hidden' %}


<div class="create-post-form-container">
    <div class="hidden xl:flex flex-col w-5/12 border-0 rounded-md bg-white shadow-md">
        <h3>Markdown help</h3>
    </div>
    <div class="flex flex-col w-full sm:w-10/12 md:w-9/12 lg:w-8/12 xl:w-7/12 border-0 rounded-md bg-white shadow-md p-2 lg:p-4">
        <h1 class="block text-2xl font-extrabold">Edit Post</h1>
        <hr class="block md:hidden">
        <form method="post" action="{% url 'update_post' form.instance.slug %}" enctype="multipart/form-data" id="post-form">
            {% csrf_token %}
            <div class="form-control">
                <label>{{ form.cover_image.label }}</label>
                {{ form.cover_image }}
            </div>
            <div class="form-control">
                <label>{{ form.title.label }}</label>
                {{ form.title }}
            </div>
            <div class="tag-input-container">
                <label>Tags:</label>
                <input type="text" id="tag-search" placeholder="Search or add tags">
                <div id="tag-suggestions" class="hidden">
                </div>
                <div id="selected-tags">
                    {% for tag in form.instance.tags.all %}
                    <div class="tag">{{ tag.name }}<span class="remove-tag" data-name="{{ tag.name }}">&times;</span></div>
                    {% endfor %}
                </div>
                <input type="hidden" name="tags" id="tags">
            </div>
            <div class="form-control">
                <label>{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            <div class="flex space-x-2">
                <button class="upload-btn" type="button" id="upload-image">Upload Image</button>
                <button class="markdown-btn" type="button" id="openModal">Markdown Syntax</button>
                <!-- <button class="post-delete-btn" id="deleteButton" type="button">Delete</button> -->
            </div>
            <input type="hidden" name="image_url" id="image_url">
            <div class="form-control">
                <label>{{ form.content.label }}</label>
                {{ form.content }}
            </div>
            <button type="submit" class="submit-btn">Update Post</button>
        </form>
    </div>
</div>

<div id="modal" class="fixed inset-0 hidden items-center justify-center bg-black bg-opacity-50 z-50 modal modal-close">
    <div class="bg-white rounded-lg overflow-hidden shadow-lg transform transition-all w-11/12 sm:max-w-lg sm:w-full">
        <div class="p-6">
            <div class="flex justify-center">
                <h2 class="text-2xl font-bold">Modal Header</h2>
                <button id="closeModal" class="text-tertiary font-extrabold ms-auto">X</button>
            </div>
            <hr>
            <table class="min-w-full leading-normal">
                <tbody>
                    <tr>
                        <td># Header</td>
                        <td>H1 Header</td>
                    </tr>
                    <tr>
                        <td>*italics* or _italics_</td>
                        <td><em>italics</em></td>
                    </tr>
                    <tr>
                        <td>**bold**</td>
                        <td><strong>bold</strong></td>
                    </tr>
                    <tr>
                        <td>[Link](https://...)</td>
                        <td><a href="#" class="text-blue-500">Link</a></td>
                    </tr>
                    <tr>
                        <td>* item 1</td>
                        <td>&bull; item 1</td>
                    </tr>
                    <tr>
                        <td>* item 2</td>
                        <td>&bull; item 2</td>
                    </tr>
                    <tr>
                        <td>1. item 1</td>
                        <td>item 1</td>
                    </tr>
                    <tr>
                        <td>2. item 2</td>
                        <td>item 2</td>
                    </tr>
                    <tr>
                        <td>&gt; quoted text</td>
                        <td>quoted text</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- <div class="flex justify-center">
    <div class="flex flex-col space-y-8 w-full lg:w-9/12 xl:w-8/12">
        <h1 class="text-4xl font-extrabold text-quaternary">Edit Blog Post</h1>
        <form class="form-container" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="post-form-input-container">
                {{ post_form.as_p }}
            </div>
            <div class="tag-input-container">
                <label for="tags">Tags:</label>
                <input type="text" id="tag-search" placeholder="Search or add tags">
                <div id="tag-suggestions" class="hidden"></div>
                <div id="selected-tags">
                    {% for tag in post_form.instance.tags.all %}
                    <div class="tag">{{ tag.name }}<span class="remove-tag" data-name="{{ tag.name }}">&times;</span></div>
                    {% endfor %}
                </div>
                <input type="hidden" name="tags" id="tags" value="{{ post_form.instance.tags.all|join:',' }}">
            </div>
            <div id="formsetContainer" class="content-input-container">
                <div class="management-form">
                    {{ section_formset.management_form }}
                    {{ text_block_formset.management_form }}
                    {{ image_block_formset.management_form }}
                    {{ list_block_formset.management_form }}
                </div>

                {% for section_form in section_formset %}
                <div class="section-form">
                    <h3 class="text-xl font-bold text-quaternary">Section</h3>
                    {{ section_form.as_p }}
                    <div class="text-block-formset">
                        {% for text_block_formset in text_block_formsets %}
                        {{text_block_formset.form}}
                        {% for text_block_form in text_block_formset %}
                        {% if text_block_form.section.value == section_form.id.value %}
                        <div class="text_block_management_form">
                            {{ text_block_formset.management_form }}
                        </div>
                        <div class="text-block-form">{{ text_block_form.as_div }}</div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <button type="button" class="add-text-block">Add Text Block</button>
                    <div class="image-block-formset">
                        {% for image_block_formset in image_block_formsets %}
                        {% for image_block_form in image_block_formset %}
                        {% if image_block_form.section.value == section_form.id.value %}
                        <div class="image-block-form">{{ image_block_form.as_div }}</div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <button type="button" class="add-image-block">Add Image Block</button>
                    <div class="list-block-formset">
                        {% for list_block_formset in list_block_formsets %}
                        {% for list_block_form in list_block_formset %}
                        {% if list_block_form.section.value == section_form.id.value %}
                        <div class="list-block-form">{{ list_block_form.as_div }}</div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <button type="button" class="add-list-block">Add List Block</button>
                </div>
                {% endfor %}
                <button type="button" id="add-section" class="order-last">Add Section</button>
            </div>
            <button type="submit" id="submit-btn">Update Post</button>
        </form>
    </div>
</div> -->


{% endblock %}

{% block js %}
<script src="{% static 'js/update-post.js' %}"></script>
{% endblock %}