{% extends '_base.html' %}
{% load static %}

{% block title %}
Edit your Post
{% endblock %}

{% block css %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
<link href="{% static 'css/posts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/shared/navbar.html' with position='sticky-top' search_bar_visibility='d-none' %}
<div class="mlr-0.5 mlr-md-2 mlr-lg-3.5 mlr-xl-7 mb-4">
    <form action="{% url 'update-post' post.slug %}" method="POST" class="d-flex flex-column post-form">
        <h1 class="head-text">Edit Post</h1>
        {% csrf_token %}
        {% for field in form %}
        <div class="d-flex flex-column mb-2 form_control{% if form.title.errors %} errors{% endif %}">
            {{field.label_tag}}
            {{field}}
            {{field.errors}}
        </div>
        {% endfor %}
        <button type="submit mt-2" class="btn-submit mt-2">Okay</button>
    </form>
</div>
{% endblock %}