{% load static %}

<nav class="bg-primary mb-4">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2 md:py-3">
        <a class="py-2" href="{% url 'index' %}">
            <span class="hidden md:block xl:text-2xl lg:text-xl md:text-lg font-bold font-edu drop-shadow">SpaceTech Odyssey</span>
            <img class="md:hidden block" src="{% static 'images/STO.png' %}" alt="logo" height="31px" width="31px">
        </a>


        <form class="flex items-center mx-auto {{search_bar_visibility}}">
            <label for="simple-search" class="sr-only">Search</label>
            <input type="text" id="simple-search" class="bg-primary border border-r-0 border-quaternary text-quaternary/80 text-sm rounded-l-lg focus:outline-none focus:bg-secondary/50 w-56 ps-2 p-2"
                placeholder="Search keywords..." required />
            <button type="submit"
                class="py-2.5 px-2 text-sm font-medium text-quaternary bg-primary rounded-r-lg border border-quaternary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300">
                <img class="w-5 h-4" src="{% static 'icons/search.svg' %}" alt="search-icon">
                <span class="sr-only">Search</span>
            </button>
        </form>


        <button data-collapse-toggle="dropdownMenu" id="dropdownButton" type="button" class="nav-toggle-btn" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <img src="{% static 'icons/menu.svg' %}" alt="menu-icon">
        </button>
        <div class="nav-menu" id="navbar-menu">
            <div class="flex flex-row space-x-3">
                <a class="nav-item{{all_posts}}" href="{% url 'all-posts' %}">All Posts</a>
                {% if user.is_authenticated %}
                <a class="nav-item{{create_post}}" href="{% url 'create-post' %}">Create Post</a>
                <form class="nav-item" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="logout-btn" type="submit">Logout</button>
                </form>
                {% else %}
                <a class="nav-item{{register}}" href="{% url 'register' %}">Register</a>
                <a class="nav-item{{login}}" href="{% url 'login' %}">LogIn</a>
                {% endif %}
            </div>
        </div>
        <div class="navbar-dropdown menu-transition hidden" id="dropdownMenu">
            <div class="flex flex-col space-y-2">
                <a class="nav-item{{all_posts}}" href="{% url 'all-posts' %}">All Posts</a>
                {% if user.is_authenticated %}
                <a class="nav-item{{create_post}}" href="{% url 'create-post' %}">Create Post</a>
                <form class="nav-item" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="logout-btn" type="submit">Logout</button>
                </form>
                {% else %}
                <a class="nav-item{{register}}" href="{% url 'register' %}">Register</a>
                <a class="nav-item{{login}}" href="{% url 'login' %}">LogIn</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>