@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");
:root {
  --bg-color: #ffffe0;
  --primary-color: #00ad95;
  --secondary-color: #bbe9e9;
  --input-bg-color: #bbe9e97e;
}

.btn-purple {
  text-decoration: none;
  outline: none;
  border-radius: 25px;
  border: 2px;
  border-color: var(--DarkMagenta);
  background-image: linear-gradient(
    144deg,
    var(--DarkMagenta),
    var(--DarkViolet),
    var(--DarkOrchid)
  );
  color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 35px;
  font-weight: 500;
}

.btn-purple:active,
.btn-purple:hover {
  background-image: none;
  background-color: white;
  border: 2px;
  border-color: var(--DarkMagenta);
  color: var(--DarkMagenta);
}
.btn-edit {
  outline: none;
  background-image: linear-gradient(144deg, #00ad95, #00ad96d0, #00ad9686);
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  padding: 0.25rem 1.1rem;
  margin: 0 0.4rem;
  transition: background-color 0.3s, color 0.3s;
}
.btn-edit:hover,
.btn-edit:active,
.btn-edit:focus {
  background-image: none;
  outline: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.btn-edit-outline {
  font-weight: 500;
  outline: none;
  text-decoration: none;
  color: black;
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  padding: 0.25rem 1rem;
  margin: 0 0.4rem;
  transition: background-color 0.3s, color 0.3s;
}
.btn-edit-outline:hover,
.btn-edit-outline:active,
.btn-edit-outline:focus {
  background-image: linear-gradient(144deg, #00ad95, #00ad96d0, #00ad9686);
  outline: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.btn-delete-outline {
  font-weight: 500;
  outline: none;
  text-decoration: none;
  color: #c40000;
  border: 2px solid #c40000;
  border-radius: 25px;
  padding: 0.25rem 1rem;
  background-color: #ffffff;
  margin: 0 0.4rem;
  transition: background-color 0.3s, color 0.3s;
}
.btn-delete-outline:hover,
.btn-delete-outline:active,
.btn-delete-outline:focus {
  background-image: linear-gradient(144deg, red, orangered, red);
  outline: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.btn-red-outline {
  border-radius: 25px;
  border-color: orangered;
  color: red;
  outline: none;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 35px;
  font-weight: 500;
}

.btn-red-outline:active,
.btn-red-outline:hover {
  color: white;
  background-image: linear-gradient(144deg, red, orangered, red);
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}

.card {
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-image: linear-gradient(var(--input-bg-color), var(--bg-color));
}

.card:hover {
  cursor: pointer;
  background-image: none;
  background-color: var(--input-bg-color);
}

.profile-name {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-decoration: none !important;
  color: black;
}
.card-profile-picture {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
.card-profile-picture img {
  width: 100%;
  height: auto;
  display: block;
}
.post-date {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.post-tag {
  font-size: 15px;
  text-decoration: none !important;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 2px;
}
.post-tag:hover {
  background-color: #00ad9677;
  color: black;
}

.post-link {
  text-decoration: none;
  color: black;
}

.post-link:hover {
  color: black;
}

@media only screen and (max-width: 991px) {
  .card-title {
    font-size: 18px;
  }
  .card-text {
    font-size: 14px;
  }
  .profile-name,
  .post-date,
  .post-tag {
    font-size: 15px;
  }
}

.post-form .form_control {
  position: relative;
}
.post-form {
  max-width: 100% !important;
}
.tags-search-results {
  position: absolute;
  top: 70px;
  list-style: none;
  background-color: rgb(218, 237, 253);
  width: 600px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto;
  z-index: 99;
  /* opacity: 0;
  transition: opacity 0.3s ease-in-out; */
}
.tags-search-results li {
  cursor: pointer;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.tags-search-results li:hover {
  background-color: rgb(255, 255, 255);
}

#selectedTagsField input {
  cursor: pointer;
  outline: none;
  border: 2px;
  border-color: blueviolet;
  border-radius: 10px;
}

#selectedTagsField input:focus {
  border: none;
  outline: none;
}

.page-link {
  border-color: var(--DarkMagenta) !important;
  color: var(--DarkMagenta) !important;
}
.page-item.active .page-link {
  background-color: var(--DarkMagenta) !important;
  color: #ffffff !important;
}
.page-item.disabled .page-link {
  border-color: rgb(200, 142, 253) !important;
  background-color: rgb(230, 204, 255) !important;
  color: rgb(162, 83, 236) !important;
}
.page-link:focus,
.page-link:active {
  border-color: rgb(162, 83, 236);
}
