{% load static %}

<section id="comment-section" data-post-id="{{ post.id }}" data-static-profile-url="{% static 'images/profile.png' %}" data-arrow-icon-src="{% static 'icons/arrow-tip-down.svg' %}"
    data-spinner-icon-src="{% static 'icons/spin.svg' %}" data-is-authenticated="{{ user.is_authenticated }}" data-current-user-id="{{ request.user.id }}">
    <h2 class="text-2xl font-bold text-quaternary">Comments</h2>
    {% if user.is_authenticated %}
    <form id="add-comment-form" method="post">
        {% csrf_token %}
        {{ comment_form.content }}
        {{ comment_form.parent }}
        <button type="submit" id="add-comment-btn">Add Comment</button>
    </form>
    <div id="spinner-container" class="flex justify-center py-4">
        <img class="h-8 w-8 animate-spin" src="{% static 'icons/spin.svg' %}" alt="spinner">
    </div>
    {% else %}
    <p class="font-medium py-2">Sign in to comment</p>
    {% endif %}

    <div id="comments" class="mt-3"></div>
    <button id="load-more-comments">
        <img class="h-4 w-4 animate-spin me-2 hidden" src="{% static 'icons/spin.svg' %}" alt="load comments spinner">
        Show More Comments
    </button>
</section>