{% load static %}
<footer class="bg-primary mt-4 py-5">
    <div class="flex flex-col items-center sm:flex-row justify-center text-xs sm:text-sm font-semibold sm:space-y-0 sm:space-x-2">
        <a class="flex flex-row order-last sm:order-none items-center" href="https://github.com/helios274?tab=repositories" target=”_blank”><img src="{% static 'icons/github-mark.svg' %}" class="mr-2"
                width="20px" height="20px">Adithya
            Prasad</a>
        <h6 class="hidden sm:block">|</h6>
        <div class="flex sm:flex-none flex-row space-x-1 sm:space-x-2  mb-2 sm:mb-0">
            <h6>SpaceTech Odyssey</h6>
            <h6>|</h6>
            <h6>2023-2025</h6>
        </div>
    </div>
</footer>