<table class="min-w-full leading-normal">
    <tbody class="prose">
        <tr>
            <td># Header</td>
            <td>
                <h1 class="mb-1">H1 Header</h1>
            </td>
        </tr>
        <tr>
            <td>###### Header</td>
            <td>
                <h6 class="font-medium">H6 Header</h6>
            </td>
        </tr>
        <tr>
            <td>*italics* or _italics_</td>
            <td><em>italics</em></td>
        </tr>
        <tr>
            <td>**bold**</td>
            <td><strong>bold</strong></td>
        </tr>
        <tr>
            <td>[Link](https://...)</td>
            <td><a href="#" class="text-blue-500">Link</a></td>
        </tr>
        <tr>
            <td>* item</td>
            <td>&emsp;&bull; item</td>
        </tr>
        <tr>
            <td>1. item</td>
            <td>&emsp;1. item</td>
        </tr>
        <tr>
            <td>&gt; quoted text</td>
            <td>
                <blockquote class="my-1">quoted text</blockquote>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <span class="text-sm">Markdown is a lightweight markup language with plain text formatting syntax.</span>
    <br>
    <a class="font-medium underline text-blue-500" href="https://www.markdownguide.org/basic-syntax/" target="_blank">Learn more</a>
</p>