<nav class="pagination-container flex items-center justify-evenly">
    <ul class="pagination">
        <!--Jump to first page-->
        {% if page_object.number == 1 %}
        <li>
            <a class="page-link-disabled rounded-l-md" type="button" disabled>First</a>
        </li>
        {% else %}
        <li>
            <a class="page-link rounded-l-md" href="?page=1" aria-label="First">First</a>
        </li>
        {% endif %}

        <!--Disable previous page button if the current page is the first one-->
        {% if page_object.has_previous %}
        <li>
            <a class="page-link" href="?page={{ page_object.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li>
            <a class="page-link" href="?page={{ page_object.previous_page_number }}">
                {{page_object.previous_page_number }}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link-disabled" href="" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        <!--Show current page-->
        <li aria-current="page">
            <a class="page-link-active" href="?page={{ page_object.number }}">{{ page_object.number }}</a>
        </li>

        <!--Disable next page button if the current page is the last one-->
        {% if page_object.has_next %}
        <li>
            <a class="page-link" href="?page={{ page_object.next_page_number }}">
                {{page_object.next_page_number }}</a>
        </li>
        <li>
            <a class="page-link" href="?page={{ page_object.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li>
            <a class="page-link-disabled" href="" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
        {% if page_object.number == page_object.paginator.num_pages %}
        <li class="page-item">
            <a class="page-link-disabled rounded-r-md">Last</a>
        </li>
        {% else %}
        <li>
            <a class="page-link rounded-r-md" href="?page={{ page_object.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
    </ul>
    <div class="font-medium text-sm md:text-base">
        Page {{page_object.number}} of {{page_object.paginator.num_pages}}
    </div>
</nav>